In [1]:
import pandas as pd
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import random
import scipy.stats as st
import sklearn.datasets as dta
# Dependencies
import json
import requests

api_key="16771f22"

In [2]:
csv_path = "archive/imdb_top_1000.csv"

# Import the CSV into a pandas DataFrame
topmovies_df = pd.read_csv(csv_path, low_memory=False)
topmovies_df
title_df=topmovies_df["Series_Title"]
title_df.head()
title_df=title_df.tolist()
title=[]
country=[]

url = f"http://www.omdbapi.com/?apikey={api_key}&t="

for movies in title_df:
    target_url=url+movies
    response=requests.get(target_url).json()
    
    try:
        title.append(response['Title'])
    except:
        title.append("NA")
        print("Title Not Found")
        pass
    try:
        country.append(response['Country'])
        
    except:
        country.append("NA")
        print("Country Not Found")
        pass

Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found
Title Not Found
Country Not Found

In [3]:
print(len(title))

1000

In [ ]:
print(len(country))

In [4]:
title_country_df=pd.DataFrame(list(zip(title, country)),columns =['Title', 'Country'])
title_country_df

                        Title                        Country
0    The Shawshank Redemption                  United States
1               The Godfather                  United States
2             The Dark Knight  United States, United Kingdom
3      The Godfather: Part II                  United States
4                12 Angry Men                  United States
..                        ...                            ...
995    Breakfast at Tiffany's                  United States
996                     Giant                  United States
997     From Here to Eternity                  United States
998                  Lifeboat                  United States
999              The 39 Steps                 United Kingdom

[1000 rows x 2 columns]

In [ ]:
topmovies_df.head()

In [5]:
clean_tc_df = title_country_df[~title_country_df['Title'].str.contains('NA')]
clean_tc_df

                        Title                        Country
0    The Shawshank Redemption                  United States
1               The Godfather                  United States
2             The Dark Knight  United States, United Kingdom
3      The Godfather: Part II                  United States
4                12 Angry Men                  United States
..                        ...                            ...
995    Breakfast at Tiffany's                  United States
996                     Giant                  United States
997     From Here to Eternity                  United States
998                  Lifeboat                  United States
999              The 39 Steps                 United Kingdom

[869 rows x 2 columns]